version: '3.9'

services:
# Сервис для разворачивания контейнера с базой данных
  database:
    image: postgres:latest
    restart: always
    volumes:
      - /var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=animals
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123


# Сервис для разворачивания контейнера с приложением
  webapi:
    container_name: webapi
    build: .
    command: bash -c "python sql/models.py createdb && uvicorn main:app --reload --host 0.0.0.0 --port 8080"
    ports:
      - "8080:8080"
    depends_on:
      - database
    restart: always
    environment:
      - POSTGRESQL_CONFIG=postgresql+psycopg2://postgres:123@database/animals
      - PASSWORD_SALT="f239b01695e5a6f287788330b14b337e5b5e2055a230f7ac8f21fa50706eb255"


# Сервис для разворачивания контейнера с автотестами
  tests: 
    image: mrexpen/planet_olymp_phase2
    pull_policy: always
    ports:
      - "8090:8080"
    depends_on:
      - webapi
    environment:
      SERVER_URL: http://webapi:8080
      STAGE: 2
      # all - запуск всех тестов из трёх доступных этапов
      # 0, 1, 2 или 3 - запуск тестов для соответствующего этапа

